*.data-00000-of-00002
*.data-00001-of-00002
*.index
data/faces_test/
*.v2
modules/__pycache__/
*.zip
*.tfrecord
checkpoints/arc_res50/checkpoint
models/pre-train/arc_res50_ccrop/
mtcnn_tf2/__pycache__/
data/WIDER_train/
data/celebA/
data/CVPR/
data/mtcnn_training/pnet_12/
mtcnn_training/__pycache__/
data/mtcnn_training/native_12/
data/faces_source/
data/faces_store/bounding_boxes_03681.txt
data/faces_store/
data/mtcnn_test/
data/mtcnn_training/12net/
data/mtcnn_training/24net/
data/mtcnn_training/48net/
align/*.npy
align_mtcnn/__pycache__/
align_mtcnn/*.npy
logs/
prepare_data/__pycache__/__init__.cpython-37.pyc
prepare_data/__pycache__/
data/mtcnn_training/imglists/PNet/
